body {
  background-color: black;
  color: aliceblue;
  font-family: "Inconsolata", monospace;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

button {
  background-color: green;
}

.score {
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
}

.questionBox {
  border: 1px solid aliceblue;
  width: 80%;
  margin: 100px auto auto auto;
  padding: 15px;
}

.question {
  margin-bottom: 100px;
}

.questionButtonDiv {
  display: flex;
}

.questionNumberDiv {
  flex: 1;
}

.buttonDiv {
  flex: 1;
  text-align: right;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.nextQuestion {
  height: 50px;
  border-radius: 15%;
}

.answerBox {
  margin: auto auto 50px auto;
  padding: 15px;
}

.answers {
  display: flex;
  flex-wrap: wrap;
}

.neutralClass {
  border: 1px solid aliceblue;
  width: fit-content;
  height: auto;
  margin: 10px;
  text-align: center;
  padding: 10px;
}

.incorrectClass {
  border: 1px solid red;
  width: fit-content;
  height: auto;
  margin: 10px;
  text-align: center;
  padding: 10px;
}

.correctClass {
  border: 3px solid green;
  width: fit-content;
  height: auto;
  margin: 10px;
  text-align: center;
  padding: 10px;
}

@media (min-width: 550px) {
  .neutralClass,
  .correctClass,
  .incorrectClass {
    width: 30%;
  }

  .answers {
    justify-content: center;
  }
}

@media (min-width: 1000px) {
  .neutralClass,
  .correctClass,
  .incorrectClass {
    width: 20%;
  }
}

.correctAnswer {
  margin-top: 30px;
}

.incorrectAnswer {
  margin-top: 30px;
}

.hidden {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
